<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>告警详情</title>
</head>
<body>
    <form action="/issues/{{.Id}}/handle" method="post" enctype="application/x-www-form-urlencoded">
        <b>告警详情: </b><br>
        <textarea rows="20" cols="100" disabled>{{.Desc}}</textarea><br>
        <b>事件类型: </b>
        <select name="issueType">
            <option value ="{{.IssueType}}">{{.IssueType}}</option>
            <option value ="信息泄漏">信息泄漏</option>
            <option value ="入侵告警">入侵告警</option>
        </select>
        <br>
        <b>处置动作: </b>
        <select name="handle">
            <option value ="{{.Handle}}">{{.Handle}}</option>
            <option value ="观察">观察</option>
            <option value ="误报">误报</option>
            <option value="阻断">阻断</option>
            <option value="加白">加白</option>
        </select>
        <br>
        <b>处置记录: </b>
        <br>
        <textarea name="handledesc" rows="10" cols="100">{{.HandleDesc}}</textarea>
        <br>
         <b>责任人信息 (格式:公司/部门/名字): </b>
        <br>
        <textarea name="owner" rows="5" cols="50">{{.Owner}}</textarea>
        <br>
        <b>告警状态: </b>
         <select name="status">
            <option value ="{{.Status}}">{{.Status}}</option>
            <option value ="进行中">进行中</option>
            <option value ="关闭">关闭</option>
        </select>
        <br>
        <input type="submit" value="提交">
    </form>
</body>
</html>